<div class="body">
    <div class="header-wrapper">
        <div class="title-wrapper">
            <img style="width: 30px; height: 30px" src="https://via.placeholder.com/30x30" />
            <div class="title-text">Віртуальне Навчальне Середовище</div>
        </div>
        <div class="user-wrapper">
            <div class="username-text">Віктор Ротків</div>
            <img style="width: 70px; height: 70px; border-radius: 3000px" src="https://via.placeholder.com/70x70" />
            <img style="width: 24px; height: 24px" src="https://via.placeholder.com/24x24" />
        </div>
    </div>


    <div class="course-wrapper">
        <div *ngFor="let c of courses" class="course-block">
            <div class="rect-placeholder"></div>
            <!-- *ngStyle.background-image="url(c.cover)" -->
            <!-- <img [src]="c.cover"> -->
            <p class="course-name">{{ c.Name }}</p>
        </div>
    </div>
</div>