


<div class="body-wrapper">

    <div class="title">Віртуальне Навчальне Середовище</div>

    <div class="button-box-wrapper">
        <div class="button" (click)="studentPage()">
            <div class="button-text">Студент</div>
        </div>
        <div class="button" (click)="adminPage()">
            <div class="button-text">Адміністратор</div>
        </div>
        <div class="button" (click)="lecturerPage()">
            <div class="button-text">Викладач</div>
        </div>
    </div>
</div>
