<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <h1>Welcome <%= user %></h1>
    <style>
        .rectangle {
            width: 200px;
            height: 100px;
            margin: 20px;
            display: inline-block;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            color: white;
        }

        #rectangle1 {
            background-color: red;
        }

        #rectangle2 {
            background-color: green;
        }

        #rectangle3 {
            background-color: blue;
        }
    </style>
</head>
<body>

    <div class="rectangle" id="rectangle1">Rectangle 1</div>
    <div class="rectangle" id="rectangle2">Rectangle 2</div>
    <div class="rectangle" id="rectangle3">Rectangle 3</div>

    

</body>
</html>