<div style="width: 100%; height: 100%; background: white; flex-direction: column; justify-content: flex-start; align-items: center; gap: 32px; display: inline-flex">
  <div style="width: 1440px; padding-left: 32px; padding-right: 32px; border-bottom: 1px black solid; justify-content: space-between; align-items: center; display: inline-flex">
      <div style="justify-content: flex-start; align-items: center; gap: 30px; display: flex">
          <img style="width: 30px; height: 30px" src="https://via.placeholder.com/30x30" />
          <div style="color: black; font-size: 30px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Віртуальне Навчальне Середовище</div>
      </div>
      <div style="padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: center; gap: 20px; display: flex">
          <div style="color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Віктор Ротків</div>
          <img style="width: 70px; height: 70px; border-radius: 3000px" src="https://via.placeholder.com/70x70" />
          <img style="width: 24px; height: 24px" src="https://via.placeholder.com/24x24" />
      </div>
  </div>
  <div style="align-self: stretch; height: 834px; padding-left: 32px; padding-right: 32px; justify-content: center; align-items: baseline; gap: 48px; display: inline-flex">


      <div class="block" (click)="showtable('student')">
          <div style="width: 285px; height: 285px; background: #A9F3C2; border-radius: 64px"></div>
          <div style="text-align: center; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Студенти</div>
      </div>
      <div class="block" (click)="showtable('lecturer')">
          <div style="width: 285px; height: 285px; background: #61CAF8; border-radius: 64px"></div>
          <div style="text-align: center; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Викладачі</div>
      </div>
      <div class="block" (click)="showtable('courses')">
          <div style="width: 285px; height: 285px; background: #F1A0F2; border-radius: 64px"></div>
          <div style="text-align: center; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Предмети</div>
      </div>
      <div class="block" (click)="showtable('groups')">
          <div style="width: 285px; height: 285px; background: #F98B8B; border-radius: 64px"></div>
          <div style="text-align: center; color: black; font-size: 24px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Групи</div>
      </div>
  </div>
</div>
